{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": [["module-resolver", {
          "root": ["./src/**"]
        }],
        "transform-react-jsx-source"
      ]
    },
    "test": {
        "plugins": ["transform-es2015-modules-commonjs"],
        "sourceMap": "inline"
    }
  }
}
